#hero-container-contactus {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contactus-container {
  min-height: 700px;
  text-align: center;
  padding: 2rem;
  margin: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.contact-details-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 25%;
  margin: 1rem 8%;
  padding: 1rem;
}
.contact-icon-container {
  margin-bottom: 30px;
}
.contact-icon {
  width: 96px;
  height: 96px;
}
